<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>关于 ResearchHelper</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./about.css" />
  </head>
  <body>
    <div class="container">
      <img class="avatar" src=../assets/self.jpg alt="avatar" />
      <h1>关于&nbsp;ResearchHelper</h1>
      <p>
        <span class="label">Ver: </span><span id="version" class="value"></span>
      </p>
      <p>
        <span class="label">Author: </span
        ><span class="value">June Drinleng</span>
      </p>

      <a
        href="#"
        class="button"
        onclick="parent.document.getElementById('mainFrame').src = './welcome.html'"
      >
        <i class="fa-solid fa-house"></i>&nbsp;返回首页
      </a>
      <!-- 分开放，GitHub链接单独一行 -->
      <br />
      <a
        href="#"
        class="link"
        onclick="parent.postMessage({ type: 'open-external', url: 'https://github.com/JuneDrinleng/ResearchHelper' }, '*')"
      >
        <i class="fa-solid fa-link"></i>&nbsp;GitHub 项目主页
      </a>
    </div>
    <script>
      const theme = localStorage.getItem("theme") || "light";
      document.body.classList.add(theme + "-mode");

      fetch("../package.json")
        .then((res) => res.json())
        .then((pkg) => {
          document.getElementById("version").textContent = pkg.version;
        })
        .catch(() => {
          document.getElementById("version").textContent = "unknown";
        });
    </script>
  </body>
</html>
